secrets.yaml
known_devices.yaml

# HA stuff
.HA_VERSION
.google_maps_location_sharing.cookies
.uuid
.cloud/

deps/
tts/

# DBs and logs
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal

.spotify-token-cache
.storage/
git_pull.log

# docker stuff
docker_files
