secrets.yaml
.HA_VERSION
.google_maps_location_sharing.cookies
.uuid
deps/
home-assistant.log
home-assistant_v2.db
known_devices.yaml
home-assistant_v2.db-shm
home-assistant_v2.db-wal
persistence.json
__pycache__/
