# HA stuff
.HA_VERSION
.google_maps_location_sharing.cookies
.uuid
.cloud/

deps/
tts/

# DBs and logs
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
.spotify-token-cache
.storage/
git_pull.log
.google.token
.google_maps_location_sharing.cookies*
custom_components/html5/__pycache__/
fcm_android_registrations.conf
google_calendars.yaml
html5_push_registrations.conf
webostv.conf

# Docker volumes
docker_files/pihole
docker_files/mqtt/config/passwd
docker_files/mqtt/log
docker_files/unifi

# Secrets
account_details_file.txt
secrets.yaml
known_devices.yaml

!/homeassistant/.stubs/*

.pip_progress
